.footer {
    background-color: $black;
    padding: 25px 0;
  
    .footer__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .footer__left {
  
      p {
        font-weight: 400;
        font-size: 14px;
        color: $white;
      }
  
    }

    .footer__right {

        .socials {
            display: flex;
            align-items: center;
        }

        li {
            margin-right: 20px;
        }

        svg{
            fill: $white;
            width: 33px;
            height: 33px;

            &:hover {
                fill: $title;
            }
        }
    }
  
}

@media (max-width: 650px) {

    .footer {

        .footer__right {
            margin-top: 20px;
        }
    }

}

@media (max-width: 580px) {
  
    .footer {
  
      .footer__wrap {
        justify-content: center;
        text-align: center;
      }
  
      .footer__left {
        flex-basis: 100%;
      }
  
      .footer__right {
        flex-basis: 100%;
      }
  
      .footer__socials {
        justify-content: center;
      }
  
    }
  
}