.top{
    padding: 50px 0;

    .top__wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .top__title{

            p{
                color: $title;
            }
        }

        .top__left{

            svg{
                width: 20px;
                height: 14px;
                fill: $title;
            }
        }

        .top__right{

            svg{
                width: 20px;
                height: 18px;
                fill: $grey;
            }
        }
    }

}