@font-face {
    font-family: 'Segoe WP';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe WP'), 
    url('fonts/SegoeWP.woff') format('woff'),
    url('fonts/SegoeWP.ttf') format('ttf');
}